extends layout
 
block content
    h1= title
    <form name="add-estimation", method="post">
        div.input
            span.label Question
            <input type="text" name="question" value='#{item.question}'></input>
        div.input
            span.label Answer 
            <textarea name="answer" cols="80" rows="20">#{item.answer}</textarea>
        div.input
            span.label Author
            <input type="text", name="author", value='#{item.author}'>
        div.actions
            <input type="submit", name= "submit", value='#{buttonText}', href="/">
    </form>